@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0px;
}

/* shared style */
main {
  max-width: 1440px;
  margin: 0px auto;
}

main>section {
  margin-top: 130px;
}

.bg-color {
  background-color: rgba(255, 144, 14, 0.10);
}

.display-flex {
  display: flex;
}

.dark-1 {
  color: #424242;
}

.dark-2 {
  color: #727272;
}

.btn-primary {
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 24px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 7px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #424242;
  margin-bottom: 15px;
}

.section-description {
  font-size: 1.2rem;
  font-weight: 500;
  color: #727272;
  margin-bottom: 32px;
}

/* header style */

/* navbar style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  margin: 0px auto;
  max-width: 1440px;
}

.brand {
  font-size: 2.8rem;
  font-weight: 700;
}

/* banner style */

.banner-content {
  max-width: 860px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 32px;
}

.banner-description {
  font-size: 1rem;
  margin-bottom: 32px;
}

.banner-img {
  width: 100%;
  margin-bottom: 40px;
}

/* teams style */
.teams {
  align-items: center;
}

.team-img-coontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 535px;
}

.feature-title {
  font-size: 2.8rem;
  margin-bottom: 24px;
}

#quick {
  font-weight: 500;
}

#feature {
  color: #FF900E;
}

.feature-description {
  font-size: 1rem;
  color: #727272;
  margin-bottom: 24px;
}

/* features style */

.feature-section {
  gap: 140px;
}

#feature-section-title {
  border-left: 6px solid #FF900E;
  padding-left: 20px;
  margin-bottom: 25px;
}

.feature-card {
  padding: 30px;
  border: 7px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;

}

.feature-title2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.feature-description2 {
  font-size: 1rem;
  color: #727272;
  margin-bottom: 32px;

}

#exp-badge {
  padding: 30px;
  margin-left: -100px;
  margin-top: -70px;
  height: 210px;
  width: 322px;
}

#exp-year {
  font-size: 3.4rem;
  font-weight: 700;
}

#exp {
  font-size: 1rem;
}

.feature-architect img {
  width: 100%;
}

/* some facts style */

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 50px;
  padding-right: 50px;
}

.fact {
  border: 1px solid #FF900E;
  width: 240px;
  height: 230px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fact-value {
  font-size: 2.8rem;
  font-weight: 500;
  color: #424242;
}

.fact-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #424242;
  margin-top: 10px;
}

/* sponsor section style */
.sponsor-info {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15rem;
  margin-bottom: 140px;
}

.sponsor-img img {
  filter: grayscale(100%);
}

.footer{
  text-align: center;
  background-color: #FFF4E7;
  max-width: 1440px;
  margin: 0px auto;
  padding: 25px;
  margin-bottom: 80px;
  
}
/* responsive code */

@media screen and (max-width: 576px) {

  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }

  .navbar {
    justify-content: flex-start;
  }

  .nav-links {
    margin-top: 20px;
  }

  .brand {
    font-size: 1.5rem;
  }

  .banner-title {
    font-size: 2.2rem;
    padding: 15px;
  }

  .banner-description {
    font-size: 0.9rem;
    padding: 5px;
  }

  .banner-img {
    width: 90%;
    margin-left: 18px;
  }

  /* teams responsive */
  .team-img-coontainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    margin-left: 20px;
    margin-top: 28px;
  }

  .feature-title {
    font-size: 2.7rem;
    text-align: center;
    margin-right: 20px;
  }

  .feature-description {
    text-align: center;
    margin-right: 20px;
  }

  #explore {
    margin-left: 90px;
  }

  /* some facts responsive */

  .fact-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px;
  }

  .section-title {
    padding-left: 20px;
  }

  .section-description {
    padding-left: 20px;
    font-size: 1rem;
  }

  /* sponsor section responsive */
  .sponsor-img {
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;

  }

  .sponsor-info {
    margin-right: 15px;
  }

  /* features section responsive */

  .feature-section {
    flex-direction: column;
  }

  #exp-badge {
    margin-top: 10px;
    margin-left: 45px;
  }

  .feature-section {
    gap: 45px;
  }

  .feature-description2 {
    text-align: center;
  }

  .feature-architect img {
    width: 90%;
    margin-left: 25px;
  }

}